<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include("./partials/head.ejs"); %>
    </head>

    <body>
        <h1 class="h1"><%= Objeto.titulo; %></h1>

        <div class="div">
            <img src="/images/<%= Objeto.imagen %>" alt="Imagen" class="img" />
        </div>
    </body>
</html>
