<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include("./partials/head.ejs"); %>
    </head>

    <body>
        <h1 class="h1">間違い.</h1>

        <div class="div">
            <img src="/images/oops.jpg" alt="Imagen" class="img" />
        </div>
    </body>
</html>
